<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSL | Location</title>
</head>
<body>
    <h2>The red marker on the map point on the user's location</h2>
    <div class="location" style="display:flex; justify-content:center; align-items: center;">
        <iframe style="height: 80vh; width: 90vw; margin: 8vh 0;" id="gmap_canvas" src='<%= map%>' frameBorder="0" scrolling="no" marginHeight="0" marginWidth="0"></iframe>
    </div>
</body>
</html>