@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500&family=Nunito:wght@300;400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
}
:root{
    --black:black;
    --white:white;
    --red:red;
}
html{
  scroll-behavior:smooth;
}
body{
  font-family: 'League Spartan', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color:inherit;
}
.preload{
  background: rgb(255, 255, 255) url('./media/loader.gif') no-repeat center;
  background-size: 50%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: none;
}
nav{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background:  linear-gradient(90deg, rgba(172, 27, 41, 0.86) 23.32%, rgba(233, 175, 63, 0.81) 59.86%);
  backdrop-filter: blur(3rem);
}
nav ul{
  display: flex;
  padding: 30px 0 0 0;
}
nav ul li{
  padding: 0 10px;
  font-size: 18px;
}
.hero-image{
  background: linear-gradient(90deg, rgba(172, 27, 41, 0.86) 23.32%, rgba(233, 175, 63, 0.81) 59.86%),url('../assests/Hero\ Image.png') no-repeat;
  background-size:cover;
  height: 90vh;
}
.hero-image .hero-text{
  padding: 40vh 0 0 80px;
  color: var(--white);
}
.hero-text h1{
  font-size: 60px;
  font-weight: 700;
}
.hero-image p{
  font-size: 20px;
  margin-top: 20px;
}
.hero-text button{
  margin-top: 20px;
  background: var(--red);
  color: var(--white);
  border: none;
  padding: 15px 20px;
  font-size: 20px;
  cursor: pointer;
}
.about-us{
  background: rgb(245, 238, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
.about-us .grid{
  padding: 40px 0;
  display: flex;
  justify-content: center;
  background: url('../assests/VectorBuld.png') no-repeat;
}
.about-us .text{
  width: 40vw;
  line-height: 25px;
}
.about-us .text p{
  padding: 10px 0;
}
.about-us img{
  height: 35vw;
  width: 40vw;
}
.about-us .red{
  color: var(--red);
}
.about-us h3{
  padding: 20px 0;
}

.service-section{
  display: flex;
}
.service-section img{
  width:24%;
  cursor: pointer;
}
.service-section .image{
  width:28%;
  cursor: pointer;
}

.testimony{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 25px;
  padding: 20px 0; 
  background: rgb(245, 238, 230);
  background: url(../assests/vectorQuote1.png) no-repeat;
}
.testimony .card-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
  padding: 20px 0;
}
.card-container .card{
  align-self: center;
  background: linear-gradient(90deg, rgba(204, 32, 49, 0.2) 31.98%, rgba(233, 175, 63, 0.2) 100%);
  padding: 20px 30px;
  width: 35vw;
  height: 38vh;
}
.card-container .card .card-footer{
  display: flex;
  padding: 15px 0;
}
.card-container .card .card-footer img{
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.testimony .rates{
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.history{
  color:white;
  background: #1E1E1E;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
.history .grid{
  display: flex;
  padding: 20px 0;
}
.history .grid img{
  width: 35vw;
  height: 30vw;
}
.history .grid p{
  width: 40vw;
  line-height: 25px;
  padding: 0 50px;
}

.recent-articles{
  background: linear-gradient(90deg, #CC2031 31.98%, #E9AF3F 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  padding: 30px 0;
}
.recent-articles .grid{
  display: flex;
  padding: 40px 0;
}
.recent-articles .grid .grid-item{
  margin: 0 20px;
}
.recent-articles .grid .grid-item img{
  width: 40vw;
}

.get-in-touch{
  background: rgb(245, 238, 230);
  padding: 30px 0;
}
.get-in-touch .grid{
  display: flex;
  justify-content: space-around;
  background: url('../assests/VectorChat2.png') no-repeat right;
  background-size: 400px;
}
.get-in-touch .grid .text{
  background: url('../assests/Vectorchat.png') no-repeat left;
  background-size: 400px;
}
.get-in-touch .grid .text h1{
  font-size: 60px;
}
.get-in-touch .grid form{
  display: flex;
  flex-direction: column;
  background: rgba(233, 175, 63, 0.2);
  padding: 20px 30px;
}
.get-in-touch .grid form label{
  margin: 20px 0 0 0;
}
.get-in-touch .grid form input{
  width: 25vw;
  padding: 10px;
  border:#1E1E1E solid 1px;
  background: rgba(233, 175, 63, 0.2);
}
.get-in-touch .grid form textarea{
  width: 25vw;
  border:#1E1E1E solid 1px;
  padding: 10px;
  height: 100px;
  background: rgba(233, 175, 63, 0.2);
}
.get-in-touch .grid form button{
  background: var(--red);
  color: var(--white);
  padding: 15px 0;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  width: 170px;
}

footer{
  background: linear-gradient(90deg, #CC2031 31.98%, #E9AF3F 100%);
  display: flex;
  justify-content: space-around;
  color: var(--white);
  line-height: 35px;
  padding: 30px 0;
}
